name: Build My Box Signed

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Fix Python Path and Create local.properties
        run: |
          # 1. 强制修改 pyramid 模块中的 Python 路径配置，适配 Linux 环境
          if [ -f "pyramid/build.gradle" ]; then
            sed -i 's|D:/Programs/Python/Python38/python.exe|/usr/bin/python3|g' pyramid/build.gradle
          fi
          
          # 2. 创建 local.properties 满足 SDK 检查
          echo "sdk.dir=$ANDROID_SDK_ROOT" > local.properties
          echo "buildPython=/usr/bin/python3" >> local.properties
          
      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build With Gradle
        run: ./gradlew assembleRelease --build-cache --parallel --daemon

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: My-Box-Signed-APK
          path: app/build/outputs/apk/release/**/*.apk
