name: Build My Box Signed

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Create local.properties
        # 这一步是为了修复 "local.properties (No such file or directory)" 错误
        run: |
          echo "sdk.dir=$ANDROID_SDK_ROOT" > local.properties
          echo "buildPython=/usr/bin/python3" >> local.properties

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build With Gradle
        run: ./gradlew assembleRelease --build-cache --parallel --daemon

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: My-Box-Signed-APK
          path: app/build/outputs/apk/release/**/*.apk
