name: Build My Box Signed

on:
  workflow_dispatch: # 手动触发打包

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Configure Signing
        run: |
          # 1. 注入签名配置到 gradle.properties
          # 注意：路径相对于 app 目录，所以用 ../ 指向 .github 文件夹
          echo "RELEASE_STORE_FILE=../.github/workflows/TVBoxOSC.jks" >> gradle.properties
          echo "RELEASE_STORE_PASSWORD=TVBoxOSC" >> gradle.properties
          echo "RELEASE_KEY_ALIAS=TVBoxOSC" >> gradle.properties
          echo "RELEASE_KEY_PASSWORD=TVBoxOSC" >> gradle.properties
          
          # 2. 修改 app/build.gradle 以启用签名
          sed -i '/buildTypes {/i \    signingConfigs {\n        release {\n            storeFile file(RELEASE_STORE_FILE)\n            storePassword RELEASE_STORE_PASSWORD\n            keyAlias RELEASE_KEY_ALIAS\n            keyPassword RELEASE_KEY_PASSWORD\n            v1SigningEnabled true\n            v2SigningEnabled true\n        }\n    }' app/build.gradle
          sed -i '/release {/a \            signingConfig signingConfigs.release' app/build.gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build With Gradle
        run: ./gradlew assembleRelease --build-cache --parallel --daemon

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: My-Box-Signed-APK
          path: app/build/outputs/apk/release/*.apk
